/* Custom Styles */
body {
  background-color: #e64646; /* Light grey background */
  color: #212529;
  padding-top: 50px;
}

.container {
  max-width: 800px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  border-radius: 0.25rem;
}

.toolbar {
  margin-top: 20px;
}
